# Exclude everything from target except the built fat JAR
target/
!target/tasks-management-application-1.0-RELEASE.jar

# IDE / build tool artifacts
.mvn/wrapper/maven-wrapper.jar
.git/
.gitignore
*.md
.idea/
*.iml
*.iws
.DS_Store
.vscode/
*.log
helm/
