target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/surefire-reports/
target/test-classes/
target/jacoco.exec
target/site/
.mvn/wrapper/maven-wrapper.jar
.git/
.gitignore
*.md
.idea/
*.iml
*.iws
.DS_Store
.vscode/
*.log

