# Values for Production environment
replicaCount: 3

image:
  repository: docker.io/vivekanbarasu/repository-task-management-app
  pullPolicy: IfNotPresent
  tag: "1.0.0"

springBoot:
  profile: "prod"

database:
  host: "prod-postgres-service"
  port: 5432
  name: "taskdb"
  username: "postgres"
  existingSecret: "taskmanager-prod-db-secret"
  secretKey: "DB_PASSWORD"

jwt:
  existingSecret: "taskmanager-prod-jwt-secret"
  secretKey: "JWT_SECRET"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - host: taskmanager-app.com
      paths:
        - path: /
          pathType: Prefix
    - host: www.taskmanager-app.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: taskmanager-prod-tls
      hosts:
        - taskmanager-app.com
        - www.taskmanager-app.com

resources:
  limits:
    cpu: 2000m
    memory: 2Gi
  requests:
    cpu: 1000m
    memory: 1Gi

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - taskmanager
          topologyKey: kubernetes.io/hostname
